.App {
  /* text-align: center; */
  /* background-color: #F5F5F5; */
}

.App-header {
  /* background-color: #282c34; */
  /* background: url('https://ednene.files.wordpress.com/2013/03/games-of-2013-wallpaper-by-sakis25.jpg');
  background-size: cover;
  background-position: center; */
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  /* max-height: 720px; */
}

.page-body {
  font-size: calc(4px + 2vmin);
  flex-grow: 1;
  display: flex;
  padding: 32px;
  flex-direction: column;
  padding-top: 64px;
}

.sub-title{
  width: 70vw;
}

.how-it-works {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.work-steps{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.work-step-box{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 32px;
  padding: 32px;
  background-color: #EEEEEE;
}

.list {
  margin-top: 8px;
  width: 70vw;
  max-height: 50vh;
  overflow-y: auto;
}

.header-list{
  width: 70vw;
}

.check-boxes{
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 980px) {
  .work-steps{
    flex-direction: column;
  }

  .work-step-box{
    width: 80%;
    height: 150px;
    margin-top: 32px;
  }

  .how-it-works {
    margin-top: 0px;
  }

  .header-list{
    width: 95vw;
  }

  .list {
    width: 100vw;
  }

  .check-boxes{
    width: 95vw;
  }
}

@media screen and (max-width: 730px) {
  .check-boxes{
    flex-direction: column;
  }
}
